// Navigation Styles here

nav {
    .navdiv {
        .displayflex(space-between, center);
        padding-top: @vpadding;
        padding-bottom: @vpadding;
        .adiv a {
            .fasttxt();
            text-decoration: none;
            color: black;
            padding-right: 2.9rem;
        }
    }
}